<header>
  <div>
    <a href='<%= root_path %>'>HOME</a>
  </div>
  <% if flash.present? %>
    <div>
    <% flash.each do |key, value| %>
    <p><%= value %></p>
    <% end %>
    </div>
  <% end %>
  <h2>On-call scheduling</h2>
</header>
<section>
  <p>
    <% if @current_on_call_member.present? %>
      <b><%= @current_on_call_member.name %></b> is Today's on-call.
    <% else %>
      There is no on-call today.
    <% end %>
  </p>
  <div>
    <h3>On-call schedule</h3>
    <div>
    <% if @schedules.present? %>
      <%= form_with url: root_path, method: :get do |form| %>
        <%= form.date_select :search_date,
            discard_day: true,
            default: @schedules.first.start_date %>
        <%= form.submit "Search schedule" %>
      <% end %>
      <table>
        <thead>
          <th><%= @schedules.first.start_date.strftime('%B, %Y') %></th>
        </thead>
        <tbody>
          <% @schedules.each do |schedule| %>
          <tr>
            <td><a href='<%= edit_on_call_unit_path(schedule.id) %>'><%= schedule.member.name %>, <%= schedule.to_date %></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Please crate a new schedule.</p>
    <% end %>
      <div>
        <%= form_for @on_call_period, url: {action: 'create'} do |form| %>
          <%= form.submit "Create schedule" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<footer>
  <p>The time is now: <%= Time.now.strftime('%H:%M:%S %a, %d %b %Y') %>
</footer>
