<!DOCTYPE html>
<html>
  <head>
    <title>On-call scheduling</title>
  </head>
  <body>
    <header>
      <% if flash.present? %>
        <div>
        <% flash.each do |key, value| %>
        <p><%= value %></p>
        <% end %>
        </div>
      <% end %>
      <h2>On-call scheduling</h2>
    </header>
    <section>
      <div>
      <%= form_for @on_call_period, url: {action: 'create'} do |form| %>
        <%= form.submit "Create new schedule" %>
      <% end %>
      </div>
      <p>
        <% if @current_on_call_member.present? %>
          <b><%= @current_on_call_member.name %></b> is Today's on-call.
        <% else %>
          There is no on-call today.
        <% end %>
      </p>
      <div>
        <h3>On-call schedule</h3>
        <div>
        <%= form_with url: root_path, method: :get do |form| %>
          <%= form.date_select :search_date,
              discard_day: true,
              default: @schedules.first.start_date %>
          <%= form.submit "Search schedule" %>
        <% end %>
      </div>
      <div>
        <% if @schedules.present? %>
        <table>
          <thead>
            <th>name</th>
            <th>term</th>
          </thead>
          <tbody>
            <% @schedules.each do |schedule| %>
            <tr>
              <td><%= schedule.member.name %></td>
              <td><%= schedule.start_date.to_date %> ~ <%= schedule.end_date.to_date %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
          <p>There is no on-call schedule.</p>
        <% end %>
      </div>
    </section>
    <footer>
      <p>The time is now: <%= Time.now.to_time %>
    </footer>
  </body>
</html>
